<form action="/Crearsuscriptores" method="POST" class="form-container">
    <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required placeholder="Ingrese su nombre">
    </div>

    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required placeholder="correo@example.com">
    </div>

    <button type="submit">Guardar Suscriptor</button>
</form>