<!DOCTYPE html>
<html>
  <head>
    <title>Taller Node</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Formulario para guardar Datos</h1>
  </body>
</html>
